pyaudio 
numpy 
whisper-ctranslate2 
ollama 
coqui-tts 
sounddevice 
soundfile 
pyttsx3
noisereduce 
gtts 
pygame
SpeechRecognition 
speechbrain 
torch 
torchaudio 
sounddevice 
soundfile