langchain
langchain-community
langchain-core
langchain-ollama
llama-index
neo4j
torchvision
pandas
numpy
transformers
python-dotenv
huggingface-hub 
sentence-transformers 
accelerate
typing-extensions
llama-index-llms-llama-cpp
llama-index-llms-langchain
llama-index-embeddings-huggingface
llama-index-graph-stores-neo4j
json-repair
setuptools
fastapi
pydantic
pyngrok
kaleido
python-multipart
tiktoken
sse-starlette
uvicorn
nest-asyncio
linkedin-api
func_timeout
wrapt_timeout_decorator
google
google-auth
google-api-python-client
google-auth-oauthlib
spacy